.drawer-parent {
  height: 2em;
}

.drawer-parent:hover, .drawer-parent:focus {
  text-decoration: none;
  color: #b3b3b3;
}

.drawer-label:hover {
  color: #fff;
}

.drawer-label {
  display: flex;
  align-items: center;
}

.drawer-menu {
  background-color: #1c1c1c;
  margin: .2em;
  padding: .5em; 
  position: relative;
  left: 15em;
  top: -8.5em;
  height: 100vh;
  width: max-content;
  overflow-y: auto;
}

.drawer-option {
  padding: .2em;
  cursor: pointer;
  font-size: .8em;
}

.drawer-option-text {
  display: flex;
  align-items: center;
  padding: .1em;
}

.drawer-option:hover, .drawer-option:focus {
  background-color: #3e3e3e;
  color: #fff;
}

.drawer-option img {
  width: 1.2em;
}

@media (max-width: 1024px) {
  .drawer-menu {
    left: 14em;
  }
}

@media (max-width: 860px) {
  .drawer-label {
    display: initial;
    align-items: initial;
  }

  .drawer-menu {
    display: block;
    position: fixed;
    left: 0em;
    top: 0em;
    height: 87vh;
  }

  .drawer-option-text {
    font-size: .75rem;
  }
}

@media (max-width: 732px) {
  .drawer-menu {
    top: 3em;
    height: 80vh;
  }

  .drawer-option-text {
    font-size: .85rem;
  }
}