/* General Styles  */

html, body, #root {
  height: 100%;
  color: #b3b3b3;
  font-family: Montserrat, sans-serif;
  font-size: 100%;
  background: #212121;
  margin: 0;
}

li {
  list-style: none;
}

button {
  color: #b3b3b3;
  background-color: transparent;
  text-align: left;
  padding: 0;
  border-color: transparent;
  border-width: 0;
  border-style: unset;
  font: unset;
  cursor: pointer;
}

button:focus, a:focus {
  outline: unset;
}

a {
  color: #b3b3b3;
}

/* Main  */

.disclaimer {
  width: 40vw;
  margin-top: 60px;
}

.song {
  margin: 5em 0;
}

.song-header {
  display: flex;
}

.song-info h5 {
  font-size: 1em;
}

.cover {
  margin-left: .5em;;
  width: 200px;
}

.song-info {
  margin-left: 1em;
}

.song-main {
  margin-top: 2em;
  padding-left: 5em;
}

.loading {
  margin: 3em;
}

.loading svg {
  font-size: 3rem;
}

/* Media Queries */

@media (max-width: 860px) {
  .menu-text {
    font-size: .75rem;
  }
}

@media (max-width: 732px) {
  .menu-text {
    display: none;
  }
}

@media (max-width: 490px) {
  .disclaimer {
    width: 60vw;
  }

  .song-header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .song-info {
    margin: 1em;
  }

  .song-info>* {
    margin: .5em 0;
  }

  .song-main {
    margin: 0 1em;
    padding-left: 0;
  }
}
